*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.calculator {
  min-width: 20%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed white;
}

.buttons {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 20%;
  height: 5em;
  margin: 0.65em;
  border: none;
  border-radius: 50%;
  background-color: gray;
  color: white;
  font-weight: 800;
}

#C,
#equal,
#zero {
  width: 45%;
  border-radius: 10em;
}

.light-grey {
  background-color: rgba(128, 128, 128, 0.404);
}

.orange {
  background-color: orange;
}

.screen {
  margin: 1em;
  min-height: 4em;
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#output {
  color: white;
}
